@model WebSafeExam1.Models.UserProfile

@{
    ViewBag.Title = "Profile";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<p>@Model.Name</p>
<p>@Model.EmailAddress</p>
<img src="@Model.ProfileImage" alt="photo"/>