@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button><a asp-controller="Account" asp-action="Login">Login</a></button>
    <button><a asp-controller="Account" asp-action="Logout">Logout</a></button>
    <button><a asp-controller="Account" asp-action="Profile">Profile</a></button>
    <a asp-controller="Account" asp-action="Testing">Test</a>
</div>

@if (User.Identity.IsAuthenticated)
{
    <h1>Logged in</h1>
}
else
{
    <h1>BUUUUUUUUUUUUUUUU!</h1>
}
